.basket{
    &-item{
        &__image{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2.2rem;
            border: 1px solid #000;
            margin-right: 2rem;
            width: 23.8rem;
            flex-shrink: 0;
            @include bp(md){
                width: 8.1rem;
                height: 6.8rem;
                padding: 0.5rem;
                margin-right: 1.1rem;
            }
            img{
                max-height: 100%;
            }
        }
        &__text{
            flex-grow: 1;
            padding: 0.2rem 0;
        }
        &__title{
            letter-spacing: -0.05rem;
            .title_size-md{
                letter-spacing: 0;
                @include bp(xl-up){
                    line-height: 4.7rem;
                }
            }
        }
        &__info{
            &:not(:last-child){
                margin-right: 3rem;
            }
        }
        &__price{
            .icon-money{
                margin: -0.2rem 0 0 0.8rem;
            }
        }
        .text_size-smd{
            @include bp(md){
                font-size: 0.8rem;
                line-height: 0.9rem;
            }
        }
        .text_size-xl{
            @include bp(md){
                font-size: 1.5rem;
                line-height: 1.7rem;
            }
        }
    }
}
.color-item{
    width: 2.4rem;
    height: 2.4rem;
    @include bp(md){
        width: 1.1rem;
        height: 1.1rem;
    }
}