.basket{
    &-count{
        position: absolute;
        right: -1.3rem;
        bottom: -1.5rem;
        width: 2.7rem;
        height: 2.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font: 900 1.7rem/1 "Arial Black", sans-serif;
        border: 1px solid #000;
        border-radius: 50%;
    }
    &-item{
        position: relative;
        margin-bottom: 2.4rem;
        &:not(:last-child){
            padding-bottom: 2.4rem;
            border-bottom: 1px solid rgba(0, 0, 0, 0.31);
        }
        &_dropdown{
            margin-bottom: 1.4rem;
            &:not(:last-child){
                padding-bottom: 1.5rem;
            }
        }
        &__del{
            position: absolute;
            top: 0;
            right: -0.1rem;
            opacity: 0.5;
            &:hover{
                opacity: 1;
            }
        }
        &__image{
            border: 1px solid #000;
            margin-right: 2rem;
            width: 23.8rem;
            flex-shrink: 0;
            position: relative;
            @include bp(md){
                width: 8.1rem;
                height: 6.8rem;
                margin-right: 1.1rem;
            }
            &_dropdown{
                width: 14.9rem;
                height: 12.5rem;
                .basket-item__link{
                    @include bp(lg-up){
                        padding: 1.3rem;
                    }
                }
            }
        }
        &__link{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2.2rem;
            @include bp(md){
                padding: 0.5rem;
            }
            img{
                max-height: 100%;
            }
        }
        &__favorite-link{
            position: absolute;
            top: 0.2rem;
            right: 0.7rem;
        }
        &__text{
            flex-grow: 1;
            padding: 0.2rem 0;
        }
        &__title{
            letter-spacing: -0.05rem;
            .title_size-md{
                letter-spacing: 0;
                @include bp(xl-up){
                    line-height: 4.7rem;
                }
            }
        }
        &__info{
            &:not(:last-child){
                margin-right: 3rem;
            }
        }
        &__price{
            .icon-money{
                margin: -0.2rem 0 0 0.8rem;
            }
        }
        .text_size-smd{
            @include bp(md){
                font-size: 0.8rem;
                line-height: 0.9rem;
            }
        }
        .text_size-xl{
            @include bp(md){
                font-size: 1.5rem;
                line-height: 1.7rem;
            }
        }
    }
}
.color-item{
    width: 2.4rem;
    height: 2.4rem;
    @include bp(md){
        width: 1.1rem;
        height: 1.1rem;
    }
    &_circle{
        border-radius: 50%;
        width: 1.8rem;
        height: 1.8rem;
        margin-right: 0.4rem;
    }
}
.summ-item {
    margin-bottom: 4rem;
    @include bp(md){
        margin-bottom: 2rem;
    }
    &__title{
        letter-spacing: -0.1rem;
    }
    &__dots {
        background-image: -webkit-gradient(linear, left top, right top, color-stop(10%, #000), color-stop(0%, rgba(255, 255, 255, 0)));
        background-image: linear-gradient(to right, #000 10%, rgba(255, 255, 255, 0) 0%);
        background-position: bottom;
        background-size: 6px 1px;
        background-repeat: repeat-x;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        align-self: stretch;
        margin-bottom: 0.6rem;
        @include bp(md){
            margin-bottom: 0.2rem;
        }
    }
    &__price{
        @include bp(md){
            font-size: 1.5rem;
            line-height: 1.8rem;
        }
    }
}
