.catalogue{
    &-item{
        &__image{
            position: relative;
            margin-bottom: 1.5rem;
            max-height: 62.4rem;
            overflow: hidden;
            @include bp(lg){
                max-height: 41.4rem;
                margin-bottom: 1rem;
            }
            @include bp(xs){
                max-height: 20.6rem;
                margin-bottom: 0.5rem;
            }
        }
        &__favorite-link{
            position: absolute;
            top: 1.9rem;
            right: 2.8rem;
            @include bp(lg){
                top: 1.3rem;
                right: 1.5rem;
            }
            @include bp(md){
                top: 0.5rem;
                right: 0.6rem;
            }
        }
        &__title{
            letter-spacing: -0.05rem;
            display: block;
            margin-bottom: 1.2rem;
            @include bp(lg){
                letter-spacing: 0;
                margin-bottom: 0.4rem;
            }
            @include bp(md){
                font-size: 1rem;
                line-height: 1.2rem;
                margin-bottom: 0.1rem;
                letter-spacing: -0.02rem;
            }
            .title_size-lg{
                padding: 0 0.2rem;
                letter-spacing: 0;
                @include bp(md){
                    padding: 0;
                    font-size: 1.65rem;
                    line-height: 1.7rem;
                }
            }
        }
        &__body{
            padding: 0 0.02rem;
        }
        &__price{
            padding: 0 0.2rem;
            letter-spacing: -0.1rem;
            @include bp(lg){
                font-size: 2rem;
                line-height: 2.4rem;
            }
            @include bp(md){
                font-size: 1rem;
                line-height: 1.2rem;
                padding: 0;
                letter-spacing: -0.04rem;
            }
            .icon-money{
                @include bp(md){
                    width: 0.6rem;
                    height: 0.7rem;
                }
            }
        }
    }
}
.scale-link{
    display: block;
    overflow: hidden;
    &:hover{
        img{
            transform: scale(1.1);
        }
    }
    img{
        transition: all 0.5s ease-out;
    }
}
.favorite-link{
    @include bp(md){
        width: 3.1rem;
        height: 3.1rem;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        filter: drop-shadow(-1px 1px 4px rgba(0, 0, 0, 0.25));
    }
}