.form{
    &-group{
        margin-bottom: 0.8rem;
        position: relative;
        @include bp(lg){
            margin-bottom: 0.7rem;
        }
        @include bp(md){
            margin-bottom: 0.5rem;
        }
        &_margin{
            &-sm{
                margin-bottom: 1.3rem;
                @include bp(lg){
                    margin-bottom: 1.2rem;
                }
                @include bp(md){
                    margin-bottom: 0.7rem;
                }
            }
            &-md{
                margin-bottom: 2.6rem;
                @include bp(lg){
                    margin-bottom: 2.1rem;
                }
                @include bp(md){
                    margin-bottom: 1.1rem;
                }
            }
            &-lg{
                margin-bottom: 3.2rem;
                @include bp(lg){
                    margin-bottom: 1.75rem;
                }
                @include bp(md){
                    margin-bottom: 1.21rem;
                }
            }
        }
    }
    &-control{
        font-family: inherit;
        display: block;
        border: 1px solid #000;
        border-radius: 0;
        padding: 1.4rem 1.9rem;
        width: 100%;
        font-size: 2rem;
        line-height: 2.3rem;
        font-weight: 400;
        background: transparent;
        transition: all 0.3s ease-out;
        @include bp(lg){
            font-size: 1.8rem;
            line-height: 2.1rem;
            padding: 1.2rem 1.7rem;
        }
        @include bp(md){
            font-size: 1.3rem;
            line-height: 1.6rem;
            padding: 0.9rem 1.3rem;
        }
        .has-error &{
            border-color: $danger;
            &::-webkit-input-placeholder{color:$danger!important}
            &::-moz-placeholder{color:$danger!important}
            &:-moz-placeholder{color:$danger!important}
            &:-ms-input-placeholder{color:$danger!important}
        }
        &:disabled{
            background: #E8E8E8;
            border-color: #E8E8E8;
        }
        &_size{
            &-md{
                &::-webkit-input-placeholder{color:rgba(0,0,0,0.2)!important}
                &::-moz-placeholder{color:rgba(0,0,0,0.2)!important}
                &:-moz-placeholder{color:rgba(0,0,0,0.2)!important}
                &:-ms-input-placeholder{color:rgba(0,0,0,0.2)!important}
                padding: 1.7rem 2.3rem;
                @include bp(lg){
                    padding-top: 1.6rem;
                }
                @include bp(md){
                    padding: 0.9rem 1.3rem;
                }
            }
            &-lg{
                font-size: 3rem;
                line-height: 3.5rem;
                padding: 2.7rem 4.3rem 2.7rem;
                letter-spacing: -0.1rem;
                border-radius: 10px;
                &::-webkit-input-placeholder{color: #000!important}
                &::-moz-placeholder{color: #000!important}
                &:-moz-placeholder{color: #000!important}
                &:-ms-input-placeholder{color: #000!important}
                @include bp(lg){
                    font-size: 2.4rem;
                    line-height: 2.8rem;
                    border-radius: 8px;
                    letter-spacing: -0.07rem;
                    padding: 2.15rem 3.5rem;
                }
                @include bp(md){
                    font-size: 1.3rem;
                    line-height: 1.5rem;
                    padding: 0.9rem 1.3rem;
                    border-radius: 4px;
                    letter-spacing: -0.05rem;
                    padding: 1.05rem 1.7rem;
                }
            }
            &-xl{
                border: none;
                border-bottom: 1px solid #000;
                font-size: 4rem;
                line-height: 4.7rem;
                padding: 0.4rem 0;
                &::-webkit-input-placeholder{color: rgba(0,0,0,0.2)!important}
                &::-moz-placeholder{color: rgba(0,0,0,0.2)!important}
                &:-moz-placeholder{color: rgba(0,0,0,0.2)!important}
                &:-ms-input-placeholder{color: rgba(0,0,0,0.2)!important}
                @include bp(lg){
                    font-size: 2.6rem;
                    line-height: 3rem;
                }
                @include bp(md){
                    font-size: 2.1rem;
                    line-height: 2.5rem;
                }
                &.text_size-xl{
                    font-size: 3rem;
                    @include bp(lg){
                        font-size: 1.9rem;
                    }
                    @include bp(md){
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
    &-check-input{
        flex-shrink: 0;
        width: 1.5rem;
        height: 1.5rem;
        display: inline-block;
        border-radius: 0;
        margin-right: 1.8rem;
        border: 1px solid #000;
        background: #fff;
        cursor: pointer;
        transition: all 0.3s ease-out;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        &:checked{
            background: #5B5B5B;
            border-color: #5B5B5B;
            &:before{
                opacity: 1;
            }
        }
        &:before{
            content: '';
            display: block;
            width: 1.1rem;
            height: 1.1rem;
            background: url(../img/icons/checkbox-inversion.svg) 0 0 no-repeat;
            background-size: contain;
            transition: all 0.3s ease-out;
            opacity: 0;
        }
        &_transparent{
            &:checked{
                border-color: #000;
                background: none;
                &:before{
                    background-image: url(../img/icons/checkbox.svg);
                }
            }
        }
        &_md{
            width: 2.8rem;
            height: 2.8rem;
            @include bp(md){
                width: 1.55rem;
                height: 1.55rem;
            }
            &:before{
                margin-left: 0.3rem;
                width: 1.8rem;
                height: 1.8rem;
                @include bp(md){
                    width: 1rem;
                    height: 1rem;
                    margin-left: 0.1rem;
                }
            }
        }
        &_lg{
            border-radius: 0;
            width: 3.1rem;
            height: 3.1rem;
            @include bp(md){
                width: 2.2rem;
                height: 2.2rem;
            }
            &:before{
                width: 1.9rem;
                height: 1.9rem;
                @include bp(md){
                    width: 1.4rem;
                    height: 1.4rem;
                }
            }
        }
    }
    &-radio-input{
        flex-shrink: 0;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        background: transparent;
        border: 1px solid rgba(#191919, 0.3);
        transition: all 0.3s ease-out;
        margin-right: 1.6rem;
        position: relative;
        cursor: pointer;
        @include bp(sm){
            margin-right: 1.2rem;
        }
        &:hover{
        }
        &:checked{
            border-width: 8px;
        }
    }
}
.label{
    display: inline-flex;
    margin-bottom: 0.6rem;
    letter-spacing: -0.05rem;
    .has-error &{
        color: $danger;
    }
    @include bp(lg){
        font-size: 2.4rem;
        line-height: 2.8rem;
    }
    @include bp(md){
        font-size: 1.4rem;
        line-height: 1.6rem;
        letter-spacing: -0.02rem;
        margin-bottom: 0.4rem;
    }
}


// range
.range{
    &-value{
        padding: 1rem 1.5rem;
        font-size: 1.8rem;
        border: 1px solid #000;
        width: 10rem;
    }
}
.noUi-horizontal{
    height: 0.4rem;
    margin: 2rem 0.8rem;
    flex-grow: 1;
    .noUi-handle {
        height: 1.4rem;
        width: 1.4rem;
        top: -0.5rem;
        border-radius: 0;
        border: none;
        right: -9px;
        cursor: pointer;
        background: #000;
        box-shadow: none;
        &:before, &:after{
            display: none;
        }
    }
}
.noUi-target{
    border: none;
    box-shadow: none;
}
.noUi-connect{
    background: #000;
}
.noUi-connects{
    background: #ccc;
}
// textarea.form-control{
//     resize: vertical;
//     min-height: 9.1rem;
// }
// textarea.form-control_text{
//     min-height: 16.1rem;
// }
// .label{
//     display: block;
//     font-size: 1.4rem;
//     line-height: 2.8rem;
//     margin-bottom: 0.8rem;
//     &_sm{
//         @include bp(sm){
//             line-height: 2.2rem;
//         }
//     }
// }

// number
.input-number {
    display: flex;
    align-items: center;
    &__input {
        text-align: center;
        width: 100%;
        border: none;
        font-size: 1.85rem;
        line-height: 2.2rem;
        background: transparent;
        width: 3.2rem;
        @include bp(md){
            font-size: 1.1rem;
            line-height: 1.3rem;
            width: 2.1rem;
        }
    }
    &__plus, &__minus{
        position: relative;
        width: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        z-index: 2;
        cursor: pointer;
        transition: all 0.3s ease-out;
        flex-shrink: 0;
        align-self: stretch;
        &:before, &:after{
            content: '';
            display: block;
            position: absolute;
            width: 0.5rem;
            height: 0.1rem;
            transition: all 0.3s ease-out;
            border-radius: 3px;
            background: #000;
            @include bp(md){
                width: 0.4rem;
            }
        }
        &:after{
            transform: rotate(90deg);
        }
    }
    &__minus {
        &:after{
            display: none;
        }
    }
}

// rating
.rating{
    width: 8.8rem;
    height: 1.5rem;
    position: relative;
    background: url(../img/icons/rating.svg) 0 0 no-repeat;
    background-size: auto 100%;
    margin-right: 1.2rem;
    &__active{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background: url(../img/icons/rating-active.svg) 0 0 no-repeat;
        background-size: auto 100%;
    }
    &_lg{
        width: 14.6rem;
        height: 2.5rem;
        @include bp(md){
            width: 9.3rem;
            height: 1.6rem;
        }
    }
}



// radio-list
.radio-list {
    margin: 0 0 2.6rem;
    @include bp(sm){
        margin-bottom: 2.4rem;
    }
    &__item {
        padding: 2rem 3.2rem 2.4rem 2.4rem;
        transition: all 0.3s ease-out;
        border-radius: 5px;
        @include bp(sm){
            padding: 2.4rem 1.4rem 2.4rem 1.2rem;
        }
        &.active{

        }
        P{
            margin: 0.4rem 0 0;
            @include bp(sm){
                margin-top: 0.8rem;
            }
        }
        .form-radio-input{
            margin-top: 0.4rem;
            @include bp(sm){
                margin-top: 0;
            }
        }
        &_md{
            padding: 1.2rem 2.3rem 1.2rem 2.4rem;
            min-height: 7.2rem;
            @include bp(sm){
                padding: 1.2rem 1.4rem 1.2rem 1.2rem;
            }
            .form-radio-input{
                margin-top: 0;
            }
            .radio-list__logo{
                margin-top: 0;
            }
            .mark{
                margin: 0;
                @include bp(sm){
                    margin-right: 1.3rem;
                }
            }
        }
    }
    &__text {
        margin-right: 1rem;
        @include bp(sm){
            font-size: 1.6rem;
            line-height: 2rem;
        }
    }
    &__logo {
        margin: 0.6rem 0 0 auto;
        align-self: center;
        display: flex;
        justify-content: center;
        @include bp(sm){
            max-width: 7rem;
            margin-top: 0;
        }
    }
}

// fake-select
.fake-select{
    position: relative;
    &__info{
        display: inline-block;
        margin-left: 1.2rem;
    }
    &__item{
        display: block;
        font-size: 1.4rem;
        line-height: 2rem;
        &:not(:last-child){
            margin-bottom: 2rem;
        }
        &:hover, &.fake-select__item_active{

        }
    }
    &__link{
        white-space: nowrap;
        &.show{

        }
        &.active{

        }
        &::after, &::before{
            @include bp(md-up){
                right: 1.9rem;
            }
        }
    }
    &__dropdown{
        padding: 2rem;
        margin-top: 0.4rem;
        background: #FFFFFF;
        box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
    }
}




