a{
    transition: all 0.3s ease-out;
    text-decoration: none;
    color: #000;
    &:hover{
        opacity: 0.5;
    }
    &.text_light{
        &:hover{
            opacity: 1;
            color: #000;
        }
    }
}
.link_underline{
    display: inline-block;
    border-bottom: 1px solid #000;
    &:hover{
        text-decoration: none!important;
        border-color: transparent;
    }
}
.mb{
    &_md{
        margin-bottom: 5.5rem;
        @include bp(lg){
            margin-bottom: 3.4rem;
        }
        @include bp(md){
            margin-bottom: 4.1rem;
        }
    }
    &_lg{
        margin-bottom: 7.9rem;
        @include bp(lg){
            margin-bottom: 6.5rem;
        }
    }
    &_xl{
        margin-bottom: 11.9rem;
        @include bp(lg){
            margin-bottom: 9.6rem;
        }
        @include bp(md){
            margin-bottom: 5.8rem;
        }
    }
    &_xxl{
        margin-bottom: 29.2rem;
        @include bp(lg){
            margin-bottom: 13rem;
        }
        @include bp(md){
            margin-bottom: 4.8rem;
        }
    }
}
.title{
    padding-bottom: 4.8rem;
    text-transform: uppercase;
    position: relative;
    font: 900 6rem/8.4rem "Arial Black", sans-serif;
    text-align: center;
    @include bp(lg){
        font-size: 3rem;
        line-height: 4.2rem;
        padding-bottom: 6.3rem;
    }
    @include bp(md){
        font-size: 2rem;
        line-height: 2.8rem;
        padding: 2rem 0;
    }
    &:after{
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: -1000%;
        right: -1000%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.31);
    }
    &_padding{
        @include bp(xl-up){
            padding-top: 3.9rem;
        }
    }
    &_before{
        padding-top: 4.7rem;
        @include bp(lg){
            padding-top: 4.1rem;
            padding-bottom: 4.2rem;
        }
        @include bp(md){
            padding-top: 2.4rem;
            padding-bottom: 1.9rem;
            margin-bottom: 1.5rem;
        }
        &:before{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: -1000%;
            right: -1000%;
            border-top: 1px solid rgba(0, 0, 0, 0.31);
        }
    }
    &_clear{
        padding: 1.1rem 0;
        &:after{
            display: none;
        }
    }
    &_size{
        &-xs{
            font-size: 3.5rem;
            line-height: 4.9rem;
            @include bp(lg){
                font-size: 2.3rem;
                line-height: 3.3rem;
            }
            @include bp(md){
                font-size: 1.8rem;
                line-height: 2.5rem;
            }
        }
        &-sm{
            font-size: 3.7rem;
            line-height: 2.9rem;
            @include bp(lg){
                font-size: 3.3rem;
                line-height: 2.7rem;
            }
            @include bp(md){
                font-size: 1.65rem;
                line-height: 1.7rem;
            }
        }
        &-md{
            font-size: 4rem;
            line-height: 5.6rem;
            letter-spacing: -0.07rem;
            @include bp(lg){
                font-size: 3rem;
                line-height: 3.5rem;
            }
            @include bp(md){
                font-size: 2rem;
                line-height: 2.3rem;
                letter-spacing: -0.04rem;
            }
        }
        &-lg{
            font-size: 5rem;
            line-height: 4.2rem;
            @include bp(lg){
                font-size: 3.3rem;//additional slider
                line-height: 3.1rem;
            }
        }
        &-xl{
            font-size: 6rem;
            line-height: 8.4rem;
            @include bp(lg){
                font-size: 4.1rem;
                line-height: 5.8rem;
            }
        }
    }

}
.text{
    &_upper{
        text-transform: uppercase;
    }
    // size
    &_size{
        &-xxs{
            font-size: 1.4rem;
            line-height: 1.65rem;
            @include bp(xl){
                font-size: 0.95rem;
                line-height: 1.1rem;
            }
            @include bp(md){
                font-size: 0.75rem;
                line-height: 0.9rem;
            }
        }
        &-xs{
            font-size: 1.5rem;
            line-height: 1.8rem;
            @include bp(xl){
                font-size: 0.95rem;
                line-height: 1.1rem;
            }
            @include bp(md){
                font-size: 0.75rem;
                line-height: 0.9rem;
            }
        }
        &-sm{
            font-size: 1.8rem;
            line-height: 2.1rem;
        }
        &-smd{
            font-size: 1.85rem;
            line-height: 2.165rem;
        }
        &-md{
            font-size: 2.5rem;
            line-height: 2.9rem;
            @include bp(xl){
                font-size: 1.6rem;
                line-height: 1.9rem;
            }
            @include bp(md){
                font-size: 1.3rem;
                line-height: 1.5rem;
            }
        }
        &-lg{
            font-size: 2.8rem;
            line-height: 3.3rem;
            @include bp(lg){
                font-size: 1.8rem;
                line-height: 2.1rem;
            }
            @include bp(md){
                font-size: 1.5rem;
                line-height: 1.8rem;
            }
        }
        &-xl{
            font-size: 3rem;
            line-height: 3.5rem;
            @include bp(lg){
                font-size: 2.5rem;
                line-height: 2.9rem;
            }
        }
    }
    // colors
    &_danger{
        color: $danger;
    }
    &_light{
        color: rgba(0, 0, 0, 0.47);
    }
    // weight
    &_normal{
        font-weight: 400;
    }
    &_mediumbold{
        font-weight: 500;
    }
    &_bold{
        font-weight: 700;
    }
    // alignment
    &_center{
        text-align: center;
        &_sm{
            @include bp(sm){
                text-align: center;
            }
        }
    }
    &_left{
        text-align: left!important;
    }
    &_right{
        text-align: right!important;
    }
    // other
    &_styling{
        font-weight: 900;
        font-family: "Arial Black", sans-serif;
    }
    &_upper{
        text-transform: uppercase;
    }
}

